:root {
    --primary: #51B174;
    --secondary: #F7D600;
    --bg-card: #51b17430;
    --card-header: #6A256E;
}
body {
    font-family: 'Jost', sans-serif;
}
.card-header{
    border: none;
}
.bg-card{
    background-color: var(--bg-card);
}
.bg-primary {
    background-color: var(--primary) !important;
}
.mt-n4 {
    margin-top: -1.5rem !important;
}

.content-wrap {
    padding-top: 90px;
    padding-bottom: 90px;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: var(--card-header);
}
.form-control:focus{
    outline: none;
    box-shadow: none !important;
}
.btn-primary {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: #000;
    font-weight: 500;
}
.breadcrumb{
    justify-content: end;
}
.breadcrumb-item a{
     color: var(--card-header) !important;
}
.breadcrumb-item.active{
    color: var(--primary) !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: var(--primary);
    outline: none;
    box-shadow: none;
    border-color: var(--primary);
}
.ac-logout.btn-primary:hover{
    border: 1px solid #fff;
}
/* ----- Feature Css ----- */
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    margin-top: -20px;
}
.ac-list .card {
    margin-top: 20px;
}
/*--- account ----*/
.account-wrap{
    padding-top: 30px;
    padding-bottom: 30px;
}

.sow-name{
    color: var(--card-header);
    font-weight: 600;
}
.sow-name h4{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.3px;
}
.sow-icon{
    font-size: 2rem;
    font-weight: 600;
   color: var(--card-header);
}
.card-wrap{
    min-height: 100%;
    background: #fff;
}
.card-content{
    background-color: #fff;
    color: #000;
    height: 160px;
    width: 100%;
    padding: 10px;
    text-align: left;
    overflow-y: auto;
    font-size: 12px;
}
.card-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--bg-card);
}
.card-content::-webkit-scrollbar
{
	width: 4px;
	background-color: var(--bg-card);
    border-radius: 7px;
}
.card-content::-webkit-scrollbar-thumb
{
	background-color: var(--card-header);
}
 /*--- Modal Title ----*/
 .modal-title{
    color: var(--card-header);
   font-size: 2rem;
 }
 .modal-header{
    padding: 10px 20px;
 }
 .modal-header .btn-close{
    color: var(--card-header);
 }
 .modal-footer {
    display: flex;
    justify-content: flex-start;
 }
 .modal-footer .btn-light{
    background-color: var(--card-header);
    border: none;
    color: #fff;
    font-weight: 500;
    padding: 12px 25px;
 }

 table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    font-size: 12px;
 }
  /*---- Login Accounts ----*/

.wbs-account-login{
    position: fixed;
    right: 0;
    left: 0;
    background-color: var(--primary);
    width: 100%;
    height: 100vh;

}
.account-login {
    width: 350px;
    margin: 0 auto;
    padding: 30px 0;
}
.account-login form {
    color: #434343;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 10px;
}
.h-big{
    min-height: 390px;
}
.account-login h4 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.account-login .avatar {
    color: #000;
    margin: 0 auto 10px;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 9;
    background: var(--secondary);
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.account-login .avatar i {
    font-size: 30px;
    line-height: 0;
}
.account-login .form-group {
    margin-bottom: 20px;
}
.account-login .form-control, .account-login .btn {
    min-height: 40px;
    border-radius: 10px; 
    transition: all 0.5s;
}
.account-login .form-control:focus, .account-login .form-control:active, .account-login .form-control:visited{
    box-shadow: none;
    outline: none;
}
.account-login .btn {
    background: var(--secondary);
    border: none;
    line-height: normal;
}
.account-login .btn:hover, .account-login .btn:focus {
    background: var(--primary);
}
.project-msg{
    background-color: var(--primary);
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    width: 300px;
}
/*---- report ----*/
.report-card small {
    border: 1px solid #ddd;
    padding: 9px 15px;
    display: inline-block;
    border-radius: 4px;
}
.report-card h4 {
    margin-bottom: 20px;
    color: var(--card-header);
}
.report-card select {
    max-width: 200px;
}
.btn:focus{
    box-shadow: none !important;
    outline: none;
}

